RewriteEngine On 
RewriteBase / 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?uri=1

RewriteRule ^src/?$ - [F,L]
RewriteRule ^src/Controllers/?$ - [F,L]
RewriteRule ^src/Models?$ - [F,L]
RewriteCond %{REQUEST_URI} src/Public/documents/
RewriteRule .* - [F,L]